@mixin display($display) {
    display: $display;
}
@mixin f-align-center {
    align-items: center;
}
@mixin f-align-start {
    align-items: flex-start;
}
@mixin f-align-end {
    align-items: flex-end;
}
@mixin f-content-center {
    justify-content: center;
}
@mixin f-content-start {
    justify-content: flex-start;
}
@mixin f-content-end {
    justify-content: flex-end;
}
@mixin f-content-between {
    justify-content: space-between;
}
//mixin for media queries
@mixin mq($size) {
    @if $size == phone {
        @media (max-width: 599px) {
            @content;
        }
    } @else if $size == tablet-portrait-up {
        @media (min-width: 600px) {
            @content;
        }
    } @else if $size == tablet-landscape-up {
        @media (min-width: 900px) {
            @content;
        }
    } @else if $size == desktop-up {
        @media (min-width: 1200px) {
            @content;
        }
    } @else if $size == big-desktop-up {
        @media (min-width: 1800px) {
            @content;
        }
    }
}
// use media query mixin
@include mq(phone) {
    font-size: 1rem;
}
